
/* San Francisco font */
@import '../font/usesf.css';

/* Material Design Icons */
@import '../font/material.css';

/* App design */
body {
  -webkit-app-region: drag;
  overflow:hidden;
}

button { -webkit-app-region: no-drag; }

body.dragging #section-description { margin-top: -70px; }
#section-description {
  pointer-events: none;
  transition: margin 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  * { pointer-events: none; }
  b {
    font-weight: 900;
    font-size: 90%;
  }
}

.demo-card-square.mdl-card {
  width: 100%;
  height: 320px;
  border-radius: 0;
}
.demo-card-square > .mdl-card__title,
.demo-card-square > .mdl-card__dropfiles {
  color: #fff;
  background: bottom right 15% no-repeat #46B6AC;
}

.mdl-card__dropfiles {
  text-align: center;
  /*display: none;*/
  position: absolute;
  width: 290px;
  top: -50px;
  transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.dragging .mdl-card__dropfiles { /*display: inline-block;*/ top: 10px; }

.mdl-card__title {
  position: relative;
  color: #fff;
  &.small { height: 120px; /* fix for bigger list */ }
  h1 {
    padding-left: 0;
    padding-right: 0;
  }
}
#logo {
  background-image: url(../images/porkolt160.jpg);
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5px;
}
#section-queue {
  overflow: scroll;
  transition: height 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
body.dragging {
  #queue {
    height: 0;
    //margin-top: -408px;
  }
}
#section-language { flex-shrink: 0; }

#list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  li {
    list-style: none;
    font-size: 14px;

    i {
      float: right;
      text-align: right;
      font-size: 20px;
      margin-top: 1px;
    }
    .movie-title {
      width: -webkit-calc(100% - 32px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }
    .mdl-js-spinner {
        width: 16px;
        height: 16px;
        margin-bottom: 3px;
    .mdl-spinner__circle {
          border-width: 2px;
        }
    }
  }
}
@-webkit-keyframes rotating {
  from { -webkit-transform: rotate(360deg); }
  to { -webkit-transform: rotate(0deg); }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
}

/* ==========  Select Field Variables ========== */
/* http://codepen.io/pudgereyem/pen/PqBxQx/ */

$color-black: "0,0,0";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-black}, 0.06)") !default;
$select-font-size: 16px;
$select-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$select-padding: 4px;

/* ==========  Select Field ========== */

/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: $select-padding 0;
  font-size: $select-font-size;
  color: $select-color;
  border: none;
  //border-bottom: 1px solid $select-border-color;
}

/* Remove focus */
select:focus { outline: none; }

/* Hide label */
.mdl-selectfield label { display: none; }
/* Use custom arrow */
.mdl-selectfield select { appearance: none; }
.mdl-selectfield {
  position: relative;
  &:after {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: .375em solid $select-border-color;
    pointer-events: none;
  }
}